body{
	background-color:#DFBBBA;  
}

h1{
	color:#31F4FC ;
	padding-left: 20%;
	padding-bottom: 20px;
	

}

.seccion_principal{
	padding-bottom: 50px;
	padding-top: 50px;

}

div form{
	padding-left: 20%;	
	
}

div form .buno{

	margin-left: 20%;
	height: 30px;
	width: 80px;
}

div form .bdos{
	
	height: 30px;
	width: 80px;
}

